<!DOCTYPE html>
<html>
  <head>
    <title>Shop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="logo">
        <span class="logo-img"><img src="/assets/berry.png" alt="" class="img-responsive"></span>
        <i>Berries-shop</i>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="main-menu" >
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to "Home", '/' %></li>
        <li class="active"><%= link_to "Products", '/products' %></li>
        <li class="active"><%= link_to "Blog", '/blogs' %></li>
      </ul>
      <div class="nav navbar-nav navbar-right">
        <ul>
          <% if user_signed_in? %>
              <li>
                <%= link_to me_users_path do %>
                    <span class="avatar-mini ">
                      <%= image_tag current_user.avatar.url(:thumb), class:'img-circle img-responsive' %>
                    </span>
                <% end  %>
              </li>
              <li class="btn btn-info"><%= link_to 'Log out', destroy_user_session_path, method: :delete%></li>
          <% else %>
              <li class="btn btn-info"><%= link_to 'Sign up', new_user_registration_path %></li>
              <li class="btn btn-info" ><%= link_to 'Log in', new_user_session_path %></li>
        <%end%>
          </ul>
      </div>
    </div>
  </nav>
 <% if user_signed_in? %>

    <%= hidden_div_if(@cart.line_items.empty?, id: 'mini-basket') do %>
        <div class="mini-basket" id="mini-basket">
          <div class="mini-basket-list">
            <h4><%= link_to 'Your Cart', @cart %></h4>
            <div id="cart">
              <%= render @cart %>
            </div>
          </div>
        </div>
    <% end %>
  <% end %>



  <%= yield %>
  </body>
</html>
